html, body {
  height: 100%;
}
/** Fonts
  font-family: 'Raleway', sans-serif;
  font-family: 'Anton', sans-serif;
*/
body {
  font-family: 'Raleway', sans-serif;
}

* {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif!important;
}

.text-left {
  text-align: left!important;
}

.sidebar {
    background-color: #78e1a1!important;
    height: 100%;
    overflow: auto;

}

ul.menu {
    padding-left: 0;
    list-style: none;
}

.dasbhoard {
  background: white;
}

canvas {max-width: 50%}

select {
    background: dodgerblue;
    color: white!important;
    height: 28px;
    font-size: 18px;
}

@media (max-width: 767px) {
  .sidebar {display: none}
}

.doughnut, .line {
  display: none;
}
